<h1>Flights index</h1>

<div>
    <%= form_with model: @flight, url: "/flights", method: :get do |form| %>
    
        <div>
          <%= form.label :departure_id, "Departure" %>
          <%= form.grouped_collection_select :departure_id, Country.order(:name), :airports, :name, :id, :code, prompt: "Select an airport" %>
        </div>
    
        <div>
          <%= form.label :arrival_id, "Arrival" %>
          <%= form.grouped_collection_select :arrival_id, Country.order(:name), :airports, :name, :id, :code, prompt: "Select an airport" %>
        </div>
    
        <div>
          <%= form.label :date, "Date" %>
          <%= form.date_field :date %>
        </div>
          
        <div>
          <label>Passengers</label>
          <%= form.number_field :passengers %>
        </div>
    
        <div>
            <%= form.submit "Search" %>
        </div>
    <% end %>
    
</div>






<div>

<%= form_with model: @booking do |form| %>
  <%= hidden_field :booking, :passenger, :value => @flight.passengers %>

  <% @list_of_flights.each do |flight|%>

    <div class= "custom-card-main d-flex">

      <div>
          <div class="custom-card-main__title">
            Flight from: <%= flight.departure.code%> to:  <%= flight.arrival.code%>
          </div>

          <div class="custom-card-main__stats">
            <div class= "custom-card-main__stats__item">
              Duration: <%= flight.date%>
            </div>
            <div class= "custom-card-main__stats__item">
              Duration: <%= flight.duration%>
          </div>
        </div>

      </div>


      <div>   <%= form.radio_button :flight_id, flight.id %>  </div>

    </div>

  <% end %>

  <%= form.submit %>

<% end %>



</div>
