
<div class="container">

<h1>Search your next flight!</h1>
  
  <div class="custom-card">
    <%= form_with model: @flight, url: "/flights", method: :get do |form| %>
      <div class="custom-card__body">
             <div class="custom-card__body__top">
              
              <div class="card__field card__field--small"><%= form.number_field :passengers %></div>
              <div class="card__label"><label>Passengers</label></div>
            </div>

              <div class="custom-card__body__bottom">
                <div class="card__field">
                  <%= form.grouped_collection_select :departure_id, Country.order(:name),
                  :airports, :name, :id, :code, prompt: "Select Origin" %>
                </div>
                <div class="card__field">
                  <%= form.grouped_collection_select :arrival_id, Country.order(:name),
                  :airports, :name, :id, :code, prompt: "Select Destination" %>
                </div>
                <div class="card__field">
                  <%= form.date_field :date %>
                  
                </div>
              </div>
      </div>

          <div class="custom-card__actions">
              <%= form.submit "Search" %>
          </div>
         
    <% end %>
  </div>
</div>





<% if @list_of_flights%>
  <div>

  <%= form_with model: @booking, url: "/bookings/new", method: :get  do |form| %>
    <%= hidden_field :booking, :passengers, :value => @flight.passengers %>

    <% @list_of_flights.each do |flight|%>

      <div class= "custom-card-main d-flex">

        <div>
            <div class="custom-card-main__title">
              Flight from: <%= flight.departure.code%> to:  <%= flight.arrival.code%>
            </div>

            <div class="custom-card-main__stats">
              <div class= "custom-card-main__stats__item">
                Duration: <%= flight.date%>
              </div>
              <div class= "custom-card-main__stats__item">
                Duration: <%= flight.duration%>
            </div>
          </div>

        </div>


        <div>   <%= form.radio_button :flight_id, flight.id %>  </div>

      </div>

    <% end %>

    <%= form.submit %>

  <% end %>
  </div>
<% end %>
