


  
<div class="container mt-5">
    <%= form_with model:@booking, url: "/bookings", method: "post" do |form|%>
        <%= hidden_field :booking, :flight_id, :value => @flight.id %>
        <h2>Flight information</h2>
    
    
    
        <%= render partial: "flights/flight-card", locals: { flight: @flight } %>
    
    
        <h2>Passengers information</h2>
    
    
        <% @booking.passengers.each_with_index do |passenger,index|%>
    
            <div class="custom-card-passenger">
                <%= form.fields_for :passengers, passenger do |passenger_form| %>
    
                        <div class="custom-card-passenger__title">
                            <h5>Passenger <%= index + 1 %></h5>
                        </div>
    
                        <div class="custom-card-passenger__body">
                            <div class="custom-card-passenger__body__field">
                                <div class="custom-card-passenger__label"><%= passenger_form.label :name%></div>
                                <div class="custom-card-passenger__field"><%= passenger_form.text_field :name%></div>
                            </div>
                            <div class="custom-card-passenger__body__field">
                                <div class="custom-card-passenger__label"><%= passenger_form.label :email%></div>
                                <div class="custom-card-passenger__field"><%= passenger_form.text_field :email%></div>
                            </div>
                        </div>
    
    
                <% end %>
            </div>
    
        <%end%>
    
         <div class="custom-card-passenger__action"><%= form.submit%></div>
    
     <% end %>
    
</div>
